@font-face {
  font-family: 'Libre Calson';
  src: url('/fonts/LibreCaslonText-Regular.woff2') format('woff2'),
    url('/fonts/LibreCaslonText-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Basis Grotesque';
  src: url('/fonts/BasisGrotesquePro-Regular.woff2') format('woff2'),
    url('/fonts/BasisGrotesquePro-Regular.woff') format('woff');
}

