*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // setting 10px === 1rem;


  //1em === 16px
  @media only  screen and (max-width: 75em) { // 1200px == 75em (1200px/16px)
    font-size: 55%;
  }

  @media only  screen and (max-width: 64em) { // 1024px == 64em (1024px/16px)
    font-size: 50%;
  }

  @media only  screen and (max-width: 56.25em) { // 900px == 64em (1024px/16px)
    font-size: 40%;
  }

  @media only  screen and (max-width: 35.93em) { // 575px == 35.93em
    font-size: 35%;
  }

  @media only  screen and (max-width: 23.5em) { // 375px == 23.43em
    font-size: 30%;
  }


  
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-size: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: #000;
  }
}

img {
  display: block;
}


.container {
  max-width: 1440px;
  margin: 0 auto;
}
